.section {
    width: 100%;
    &:first-child {
        div {
        }
    }
    .fixed-menu {
        height: calc(60px + 2rem);
        width: 100vw;
        transform-origin: top;
        transform: scaleY(1);
        transition: all 375ms ease-in-out;
    }
    h2 {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }
    .s1,
    .s2,
    .s3 {
        padding: 2rem;
    }
    .s2 {
        background: rgb(172, 212, 172);
    }
    .s3 {
        background: rgb(176, 176, 214);
    }
}
