.user-profile-icon {
    color: $primary-blue;
}

.user-profile-value {
    font-size: 1rem;
    color: $primary-black !important;
    word-break: break-word;
}

.user-profile-placeholder {
    font-size: 0.875rem;
    color: $grey;
    font-style: italic;
}
