.slider {
    top: 0;
    z-index: 2;
    .slider-content {
        position: absolute;
        z-index: 10;
        text-align: center;
        width: 100%;
        max-width: 900px;
        .sld-card_title {
            width: fit-content;
            background: $sun;
            height: 172px;
            margin: 0 auto;
            border-radius: 4rem;
            h2 {
                height: 39px;
                margin-top: 128px;
                font-size: 2rem;
                @include bannerH2;
                .bold {
                    font-weight: 700;
                }
            }
        }
        .banner-description {
            margin: auto;
            margin-top: calc(387px);
            padding: 0.562rem 3.95rem;
            padding: 6px 3.95rem 8px 3.95rem;
            width: fit-content;
            background: $white;
            border-radius: 90px;
            filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
            p {
                max-height: 37.5px;
                max-width: inherit;
                @include bannerDescribe;
            }
        }
        p {
            max-height: 32px;
            max-width: inherit;
            @include bannerDescribe;
        }
    }
    .slide {
        opacity: 0;
        transition: opacity 0.25s ease, transform 0.25s ease;
        &.active {
            opacity: 1;
            transform: translateX(0);
            .sld-card_title {
                transition: opacity 0.375s ease-in-out 0.25s,
                    transform 0.375s ease-in-out 0.25s;
                opacity: 1;
                transform: translateY(0);
                h2 {
                    transition: opacity 0.5s ease-in-out,
                        transform 0.5s ease-in-out;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            .banner-description {
                transition: opacity 0.75s ease-in-out 0.375s,
                    transform 0.75s ease-in-out 0.375s;
                opacity: 1;
                transform: translateX(0);
                p {
                    transition: opacity 0.5s ease-in-out,
                        transform 0.5s ease-in-out;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
        &.next {
            opacity: 0;
            .sld-card_title {
                transform: translateY(-160px);
            }
            .banner-description {
                transform: translateX(-300%);
            }
        }
        &.prev {
            opacity: 0;
            .sld-card_title {
                transform: translateY(-160px);
            }
            .banner-description {
                transform: translateX(300%);
            }
        }
    }
    .sld-card_title {
        opacity: 0;
        transform: translateY(160px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        h2 {
            opacity: 0;
            transform: translateY(-16px);
            transition: opacity 0.25s ease-in-out 0.25s,
                transform 0.25s ease-in-out 0.25s;
        }
    }
    .banner-description {
        opacity: 0;
        transition: opacity 0.5s ease-in-out 0.25s,
            transform 0.75s ease-in-out 0.25s;
        p {
            opacity: 0;
            transform: translateY(-16px);
            transition: opacity 0.25s 0.25s ease-in-out,
                transform 0.25s 0.25s ease-in-out;
        }
    }
}
