.ctc-layout {
    .ctc-form {
        position: relative;
        gap: 40px !important;
        .form {
            display: flex;
            flex-flow: column wrap;
            gap: 12px;
            width: calc((100% - 42px) / 2);
            label {
                @include navLink;
                color: #1d1d1b;
                text-align: justify;
                height: 20px;
                display: inline flex;
                justify-content: space-between;
                align-items: center;
            }
            input,
            textarea {
                @include navLink;
                padding: 0.5rem 1rem;
                height: 60px;
                border-radius: 8px;
                border: 1px solid #c4c4c4;
                background: #fff;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
            }
            textarea {
                height: 236px;
            }
            .error-message {
                text-align: right;
                @include navLink;
                margin: 0;
                padding: 0;
                color: red;
                font-size: 1rem;
                margin-top: 5px;
            }

        }
        .endOF {
            height: 1px;
            width: 607px;
            button[type="submit"] {
                position: relative;
                top: -22px;
                margin: 0 auto;
            }
        }
        .form-questions:nth-child(5) {
            position: relative;
            top: -10px;
            .questions {
                justify-content: flex-start;
            }
            label {
                display: none;
            }
            .response {
                input[type="checkbox"] {
                    margin: 0;
                    padding: 0;
                    left: 0;
                }
                span {
                    left: -24px;
                }
            }
        }
        .valid-message {
            p {
                @include navLink;
                text-align: center;
                width: 417px;
            }
            flex-flow: column;
            gap: 0.5rem;
            padding: 2rem;
            width: calc(417px + 4rem);
            height: calc(82px + 4rem);
            position: absolute;
            z-index: 1000;
            left: calc(50% - (417px + 4rem) / 2);
            top: calc(50% - (82px + 4rem) / 2);
            border-radius: 18px;
            background: $grey-light;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            animation: fadeOut 4s ease-in-out forwards;
            @keyframes fadeOut {
                0% {
                    opacity: 1;
                    transform: scale(1);
                }
                80% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    transform: scale(0.95);
                    visibility: hidden;
                }
            }
        }
    }
}
