@mixin smoothTransition($props...) {
    transition: $props 0.35s ease;
}
%interactive-link {
    display: inline-flex;
    justify-content: space-around;
    // gap: 2rem;
    width: auto;
    border-radius: 100px;
    background: $white;
    @include menuShadow(rgba(0, 0, 0, 0.5));
    transition: all 0.45s ease, color 0.3s ease;

    &:hover,
    &:focus {
        @include menuShadow(rgba(0, 0, 0, 0.25));
    }
}
header {
    background: linear-gradient(
        180deg,
        rgba(245, 245, 245, 1) 0%,
        rgba(245, 245, 245, 0) 95%,
        rgba(245, 245, 245, 0) 100%
    );
    width: 100vw;
    position: fixed;
    top: -1px;
    z-index: 100;
}
.header {
    padding: 1rem 2rem 1.5rem 2rem;
    margin: 0 auto;
    display: inline-flex;
    gap: 2rem;
    gap: clamp(1rem, 2vw, 4rem);
    flex-flow: row;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    flex-flow: nowrap;

    // ? @media
    // padding: 1rem 2rem 1.5rem 1rem;
    // gap: 1rem;
}
.head-flex {
    margin-top: 1.5rem;
    display: flex;
    flex: 1;
    align-items: center;
    gap: 2rem;

    // ? @media
    // gap: 1rem;
}
.reset-padding {
    padding: 0 !important;
}
.head-space {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    // gap: 100px;
}
nav {
    animation: opacityAnimationDelay 0.9s ease-in-out forwards;
}
.main-nav,
.reservationId,
.search,
.connection {
    @extend %interactive-link;
    // ? @media
    // gap: 2rem;
}
.main-nav {
    z-index: 1000;
    padding: 1rem 1.5rem;
    gap: 1.5rem;
    .nav-circle {
        padding: 0rem;
    }
    .nav-padding {
        padding: 0rem;
    }
    &:hover,
    &:focus {
        transform: scale(1);
    }
}

.nav-circle {
    padding: 1rem;
    gap: 2rem;
}
.nav-padding {
    padding: 1rem 1.5rem;
    // gap: 2rem;
}
.main-nav .icon-color_secondary {
    fill: $light-blue;
}
.reservationId {
    background: $primary-blue;
    color: $white;
    cursor: pointer;
    .nav-link,
    .icon-color {
        fill: $white;
        color: $white;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.35);
        filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.25));
        transition: fill 0.3s ease, color 0.3s ease;
    }
    &:hover,
    &:focus {
        background: $primary-orange;
        transform: scale(1.05);
        @include menuShadow(rgba(0, 0, 0, 0.2));
        .nav-link,
        .icon-color {
            fill: $white !important;
            color: $white !important;
        }
        .icon-color_secondary {
            fill: $secondary-orange;
        }
    }
    .head-link.active .icon-color,
    .head-link.active .nav-link {
        fill: $white !important;
        color: $white !important;
    }
    .head-link.active .nav-icon {
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.35));
    }
    .main-link,
    .nav-icon {
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.35));
    }
}
.research,
.connection {
    cursor: pointer;
    width: auto;
    .nav-link,
    .icon-color {
        transition: fill 0.3s ease, color 0.3s ease;
    }
    &:hover,
    &:focus {
        // transform: scale(1.05);
        // border: 1px solid #000;
        @include menuShadow(rgba(0, 0, 0, 0.2));
        .nav-link,
        .icon-color {
            fill: $primary-blue !important;
            color: $primary-black !important;
        }
        button {
            .nav-link,
            .icon-color {
                fill: $primary-black !important;
                color: $primary-black !important;
            }
        }
    }

    .head-link.active .icon-color,
    .head-link.active .nav-link {
        fill: $primary-black !important;
        color: $primary-black !important;
    }
}
.research {
    &:hover,
    &:focus {
        transform: scale(1);
    }
}

.connection {
    .nav-link {
        width: 114px;
    }
    &:hover,
    &:focus {
        transform: scale(1.05);
        // @include menuShadow(rgba(0, 0, 0, 0.2));
        .nav-link,
        .icon-color {
            fill: $primary-blue !important;
            color: $primary-blue !important;
        }
    }
}
.reservationId,
.search,
.connection,
.head-link,
.nav-link {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

nav .group_link-submenu {
    position: relative;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.head-link {
    min-height: 20px;
    min-width: 20px;
    // width: auto;
    display: inline-flex;
    align-items: center;
    // justify-content: center;
    margin: 0;
    padding: 0;
}
.show-button {
    width: 18px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    transform: scale(0);
    width: 0;
}

.show-link {
    max-height: 100px;
    visibility: visible;
    white-space: nowrap;
    transform: scale(1);
    transform-origin: left;
    opacity: 0;
    width: 100%;
    // @media (max-width: 1440px) {
    //     transition: all 0.4s ease-in-out;
    //     // animation: opacityAnimation 0.5s ease-in-out forwards;
    // }
}
input.show-link {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 112px;
    width: auto;
    // border: 1px solid #000;
    // animation: opacityAnimation 0.2s ease-in-out forwards;
}
.nav-link {
    @include navLink;
    margin-left: 10px;
}
nav .group_link-submenu:last-of-type .nav-link:last-of-type {
    margin-right: 0.25rem;
}
.group_link-submenu .nav-link.hidden {
    opacity: 0;
    width: 0px;
    margin: 0 !important;
    visibility: hidden;
    max-height: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}

.group_link-submenu .nav-link.show-link {
    opacity: 1;
    visibility: visible;
    max-height: 52px;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}
.group_link-submenu .nav-link.hidden {
    animation: opacityWidthAnimationIn 0.3s ease-in-out backwards;
}

.group_link-submenu .nav-link.show-link {
    animation: opacityWidthAnimationIn 0.3s ease-in-out forwards;
}
.nav-link.display-none {
    display: none;
}
.nav-icon {
    display: flex;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin: 1px;
    .close-search {
        .bg-color {
            fill: $primary-black;
        }
        .icon-color {
            stroke: $white;
        }
    }
}

input.nav-link,
option.nav-link {
    text-transform: capitalize;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    height: auto;
    margin-left: 0.5rem;
    width: calc(100% + 3.5rem);
    padding-top: 2rem;
    box-sizing: border-box;
    z-index: 10;
    transition: all 0.35s ease;
    opacity: 0;
}

nav .group_link-submenu:hover .submenu,
nav .group_link-submenu:focus .submenu,
.submenu.open {
    display: block;
    opacity: 1;
}
nav .nav-circle:hover .submenu,
nav .nav-circle:focus .submenu,
nav .nav-circle .submenu.open,
nav .nav-padding .submenu:not(.open) {
    display: none;
}
.submenu_group {
    background-color: $white;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    @include menuShadowHover(rgba(0, 0, 0, 0.25));
}
.submenu_group .nav-link {
    position: relative; // Nécessaire pour positionner les pseudo-éléments
    display: block;
    margin: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: $primary-black;
    text-decoration: none;
    overflow: hidden; // Cache les débordements des pseudo-éléments
    transition: color 0.3s ease;
}

.submenu_group .nav-link::before,
.submenu_group .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px; // Épaisseur de la ligne animée
    background: $primary-blue; // Couleur de la ligne
    transform: scaleX(0); // Initialement caché
    transition: transform 0.3s ease;
}

.submenu_group .nav-link::before {
    top: 0; // Ligne en haut
    left: 0;
    transform-origin: left;
}

.submenu_group .nav-link::after {
    bottom: 0; // Ligne en bas
    right: 0;
    transform-origin: right;
}

.submenu_group .nav-link:hover {
    color: $white !important; // Change la couleur du texte
    background: $primary-blue !important; // Arrière-plan animé
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    @include smoothTransition(background, box-shadow);
}

.submenu_group .nav-link:hover::before,
.submenu_group .nav-link:hover::after {
    transform: scaleX(1); // Animation pour dévoiler les lignes
}

.icon-color,
.nav-link {
    fill: $primary-black;
    color: $primary-black;
    @include smoothTransition(fill, color);
}
.group_link-submenu:hover .submenu.open,
.group_link-submenu:hover .head-link .nav-link,
.group_link-submenu:hover .head-link .icon-color,
.main-nav:hover .group_link-submenu .head-link:hover .icon-color,
.main-nav:hover .group_link-submenu .head-link:hover .nav-link,
.nav-link:hover,
.group_link-submenu:hover,
.submenu_group .nav-link:hover {
    fill: $primary-orange;
    color: $primary-orange;
    @include smoothTransition(fill, color, transform);
    z-index: 20;
}
.main-nav:hover .group_link-submenu .head-link:hover {
    transition: all 0.7s ease;
}
.group_link-submenu:hover .head-link.active .nav-link,
.group_link-submenu:hover .head-link.active .nav-icon .icon-color,
.main-nav:hover .group_link-submenu .head-link.active:hover,
.submenu_group:hover .nav-link.active:hover,
.main-nav:hover .group_link-submenu .head-link.active:hover .icon-color,
.main-nav:hover .group_link-submenu .head-link.active:hover .nav-link,
.submenu_group .nav-link:hover,
.head-link.active .icon-color,
.head-link.active .nav-icon,
.head-link.active .nav-link,
.submenu_group .nav-link.active {
    fill: $primary-blue;
    color: $primary-blue;
    @include smoothTransition(fill, color, transform);
    background: none;
}

.logo-link {
    width: 50px;
    height: 50px;
}

.logo {
    margin: 0;
    width: 50px;
    height: 50px;
    position: relative;
    top: 0;
    z-index: 1;
    @include menuShadow(rgba(0, 0, 0, 0.5));
    border-radius: 50%;
    background: $white;

    cursor: pointer;
    .mouth,
    .eyes {
        transform: rotate(0deg);
        transform-origin: center;
        transition: transform 0.5s ease-in-out;
    }
    .logo-fp {
        fill: $white;
        @include dropShadow(rgba(0, 0, 0, 0.35));
    }
    .logo-circle,
    .logo-bg {
        filter: blur(0.1px);
    }
    &:hover {
        @include dropShadow(rgba(0, 0, 0, 0.25));
        .logo-bg {
            @include dropShadow(rgba(0, 0, 0, 0.05));
            border-radius: 50% !important;
        }
        .logo-circle {
            display: none;
        }
        .eyes {
            animation: eyeAnimation 0.5s 0.25s;
            transform: rotate(1deg);
            transform-origin: center;
        }
        .mouth {
            transform: rotate(-7deg);
            transform-origin: center;
            transition: transform 0.5s ease-in-out;
        }
        .logo-fp {
            display: none;
        }
    }
    @keyframes eyeAnimation {
        0% {
            d: path(
                "M64.2 47.8c.2 4.4 6.8 3.5 9.3 3.2 4.9-.9 4.7-8.4-.2-8s-9.1 1.4-9.1 4.8z"
            );
        }
        50% {
            d: path(
                "M64.2 47.8c.2 1.4 6.8 1.5 9.3 1.2 4.9-.3 4.7-1.4-.2-1s-9.1 1.4-9.1 0.8z"
            );
        }
        100% {
            d: path(
                "M64.2 47.8c.2 4.4 6.8 3.5 9.3 3.2 4.9-.9 4.7-8.4-.2-8s-9.1 1.4-9.1 4.8z"
            );
        }
    }
}
